<div id="footer">
  <div class="mark">
    <a href="http://www.library.nd.edu"><img alt="Hesburgh Libraries logo" src="http://www.library.nd.edu/images/hesburgh_mark.png" /></a>
  </div>
  <div class="info">
    <p><a href="http://nd.edu/">University of Notre Dame</a> | <a href="/">Medieval Institute Library</a></p>
    <p>7th Floor, Hesburgh Library, Notre Dame, IN 46556</p> <p>Tel: 574.631.5724 | Fax: 574.631.6772</p>
    <p><a href="http://www.library.nd.edu/feedback.php">Website feedback</a>  | <a href="https://wiki.nd.edu/display/libintranet/Home">HesNet</a> <img alt="Lock" src="http://www.library.nd.edu/images/lock.gif" /> | <a href="http://m.library.nd.edu/">Mobile version</a></p>
  </div>
  <div class="mark last">
    <a href="http://nd.edu"><img alt="University of Notre Dame logo" src="http://www.library.nd.edu/images/ndmark.png" /></a>
  </div>
</div>
