<div id="main-menu" class="outter">
  <ul id="nav" class="sf-menu">
    <li class="left">
      <a href="/srch-find/index.shtml"
      title="Information resources">Search &amp; Find</a>
      <ul>
        <li>
          <a href="http://catalog.library.nd.edu/">Books</a>
          <ul>
            <li>
              <a href="http://primo.library.nd.edu:1701/primo_library/libweb/action/search.do?vid=NDU%26tab=nd_campus%26mode=Advanced%26reset_config=true">
              CatalogPlus</a>
            </li>
            <li>
              <a href="http://eresources.library.nd.edu/databases/worldcat">
              WorldCat</a>
            </li>
            <li class="last">
              <a href="http://www.library.nd.edu/research-tools/catalogs.shtml">
              Other library catalogs</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Articles</a>
          <ul>
            <li>
              <a href="http://www.library.nd.edu/eresources/quicksearch/quicksearch.cgi?interface=advanced%26subject=genmul%26search_type=subject">
              Article QuickSearch</a>
            </li>
            <li>
              <a href="/find_articles/index.shtml#tab_tad">Selected
              article databases</a>
            </li>
            <li>
              <a href="/find_articles/index.shtml#tab_dbsub">
              Article databases by subject</a>
            </li>
            <li class="last">
              <a href="http://eresources.library.nd.edu/databases/googlescholar">
              Google Scholar</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="https://nd.illiad.oclc.org/illiad/IND/logon.html">
          Interlibrary Loan</a>
        </li>
        <li>
          <a href="https://nd.illiad.oclc.org/illiad/IND/logon.html">
          Document delivery</a>
        </li>
        <li>
          <a href="#">Journals</a>
          <ul>
            <li>
              <a href="/find_journals/ejournals.php#tab_ejl">
              e-Journal locator</a>
            </li>
            <li>
              <a href="/find_journals/ejournal_subjects.php#tab_ejsub">
              e-Journals by category</a>
            </li>
            <li>
              <a href="/find_journals/all_journals.shtml#tab_ajl">
              All journals (print, electronic, microform)</a>
            </li>
            <li class="last">
              <a href="/find_journals/all_collections.shtml#tab_ejlc">
              e-Journal collections</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Other formats</a>
          <ul>
            <li>
              <a href="http://www.library.nd.edu/subjects/medieval_studies/books">
              Electronic books and texts</a>
            </li>
            <li>
              <a href="http://www.library.nd.edu/ddw/public/subject_pages.cgi?term_id=11149%26tab=combo%26combo_term=17616">
              Manuscripts</a>
            </li>
            <li>
              <a href="http://www.library.nd.edu/ddw/public/subject_pages.cgi?term_id=11149%26tab=combo%26combo_term=17629">
              Photographs and images</a>
            </li>
            <li>
              <a href="http://www.library.nd.edu/formats/dissertations_and_theses">
              Dissertations and theses</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Digital projects</a>
          <ul>
            <li>
              <a href="http://www.library.nd.edu/medieval_library/mss_facs/">
              Manuscript Facsimiles at ND</a>
            </li>
            <li>
              <a href="/mss_microfilms/">Microfilms of Medieval
              Manuscripts at ND</a>
            </li>
            <li>
              <a href="http://www.italnet.nd.edu/ambrosiana/eng/index.html">
              Ambrosiana Drawings Inventory-Catalogue</a>
            </li>
            <li>
              <a href="/seals/index.shtml">Seal Facsimiles
              Collection</a>
            </li>
            <li>
              <a href="http://www.library.nd.edu/rarebooks/digital_projects/premontre">
                Prémontré Architectural Sites Collection</a>
            </li>
            <li>
              <a href="http://www.library.nd.edu/rarebooks/digital_projects/heraldry/index.shtml">
              Heraldic dictionary</a>
            </li>
            <li>
              <a href="http://www.scriptorium.columbia.edu/">
              Digital Scriptorium</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="http://www.library.nd.edu/subjects/">Subject
          pages</a>
          <ul>
            <li>
              <a href="http://www.library.nd.edu/subjects/medieval_studies">
              Medieval studies</a>
            </li>
            <li>
              <a href="http://www.library.nd.edu/subjects/philosophy">
              Philosophy</a>
            </li>
            <li>
              <a href="http://www.library.nd.edu/subjects/theology_and_religion">
              Theology &amp; Religion</a>
            </li>
            <li class="last">
              <a href="http://www.library.nd.edu/subjects/">
              more...</a>
            </li>
          </ul>
        </li>
        <li id="dbsaz" class="last">
          <a href="#">Resources A-Z</a>
          <p class="list">
            <a href="http://www.library.nd.edu/alpha/a">A</a>
            <a href="http://www.library.nd.edu/alpha/b">B</a>
            <a href="http://www.library.nd.edu/alpha/c">C</a>
            <a href="http://www.library.nd.edu/alpha/d">D</a>
            <a href="http://www.library.nd.edu/alpha/e">E</a>
            <a href="http://www.library.nd.edu/alpha/f">F</a>
            <a href="http://www.library.nd.edu/alpha/g">G</a>
            <a href="http://www.library.nd.edu/alpha/h">H</a>
            <a href="http://www.library.nd.edu/alpha/i">I</a>
            <a href="http://www.library.nd.edu/alpha/j">J</a>
            <a href="http://www.library.nd.edu/alpha/k">K</a>
            <a href="http://www.library.nd.edu/alpha/l">L</a>
            <a href="http://www.library.nd.edu/alpha/m">M</a>
            <a href="http://www.library.nd.edu/alpha/n">N</a>
            <a href="http://www.library.nd.edu/alpha/o">O</a>
            <a href="http://www.library.nd.edu/alpha/p">P</a>
            <a href="http://www.library.nd.edu/alpha/q">Q</a>
            <a href="http://www.library.nd.edu/alpha/r">R</a>
            <a href="http://www.library.nd.edu/alpha/s">S</a>
            <a href="http://www.library.nd.edu/alpha/t">T</a>
            <a href="http://www.library.nd.edu/alpha/u">U</a>
            <a href="http://www.library.nd.edu/alpha/v">V</a>
            <a href="http://www.library.nd.edu/alpha/w">W</a>
            <a href="http://www.library.nd.edu/alpha/x">X</a>
            <a href="http://www.library.nd.edu/alpha/y">Y</a>
            <a href="http://www.library.nd.edu/alpha/z">Z</a>
            <a href="http://www.library.nd.edu/alpha/0">0-9</a>
          </p>
        </li>
      </ul>
    </li>
    <li>
      <a href="/help/index.shtml"
      title="Get answers to questions, library instruction, tips to get you started">
      Help &amp; Guides</a>
      <ul>
        <li>
          <a href="http://www.library.nd.edu/reference/faq/">How do
          I / FAQ</a>
        </li>
        <li>
          <a href="http://www.library.nd.edu/directory/subjects">
          Contact a subject librarian</a>
        </li>
        <li>
          <a href="http://www.library.nd.edu/forms/instructions/consultation/">
          Schedule a research consultation</a>
        </li>
        <li>
          <a href="http://guides.library.nd.edu/">Course guides
          &amp; Research guides</a>
        </li>
        <li>
          <a href="#">Citing references</a>
          <ul>
            <li>
              <a href="http://eresources.library.nd.edu/databases/refworks">
              RefWorks</a>
            </li>
            <li>
              <a href="http://www.zotero.org/">Zotero (a Firefox
              extension)</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="http://www.library.nd.edu/reference_shelf/">
          Reference shelf</a>
        </li>
        <li>
          <a href="http://www.library.nd.edu/subjects/">Services
          for ...</a>
          <ul>
            <li>
              <a href="http://www.library.nd.edu/help/undergrads.shtml">
              Undergraduates</a>
            </li>
            <li>
              <a href="http://www.library.nd.edu/help/grads.shtml">
              Graduate students</a>
            </li>
            <li>
              <a href="http://www.library.nd.edu/help/faculty.shtml">
              Faculty</a>
            </li>
            <li class="last">
              <a href="http://www.library.nd.edu/help/visitors.shtml">
              Visitors</a>
            </li>
          </ul>
        </li>
        <li class="last">
          <a href="http://www.library.nd.edu/reference/ask/forms.shtml">
          Ask a Librarian</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="http://www.library.nd.edu/lib-colls/"
      title="What the library can do for you">Libraries &amp;
      Collections</a>
      <ul>
        <li>
          <a href="http://architecture.library.nd.edu">Architecture
          Library</a>
        </li>
        <li>
          <a href="http://artimage.library.nd.edu">Art Image
          Library</a>
        </li>
        <li>
          <a href="http://bic.library.nd.edu">Business Information
          Center</a>
        </li>
        <li>
          <a href="http://chemistry.library.nd.edu">Chemistry -
          Physics Library</a>
        </li>
        <li>
          <a href="http://engineering.library.nd.edu">Engineering
          Library</a>
        </li>
        <li>
          <a href="http://www.library.nd.edu/">Hesburgh
          Libraries</a>
        </li>
        <li>
          <a href="http://kkic.library.nd.edu">Kellogg/Kroc
          Information Center</a>
        </li>
        <li>
          <a href="http://mathematics.library.nd.edu">O'Meara
          Mathematics Library</a>
        </li>
        <li>
          <a href="http://medieval.library.nd.edu">Medieval
          Institute</a>
        </li>
        <li>
          <a href="http://www.library.nd.edu/media/">Music and
          Media Services Unit</a>
        </li>
        <li>
          <a href="http://radlab.library.nd.edu">Radiation
          Chemistry Reading Room</a>
        </li>
        <li>
          <a href="http://www.library.nd.edu/rarebooks">Rare Books
          &amp; Special Collections</a>
        </li>
        <li>
          <a href="http://archives.nd.edu/">Archives, University of
          Notre Dame</a>
        </li>
        <li class="last">
          <a href="http://www.library.nd.edu/lib-colls/">
          more...</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/about/"
      title="Information about the Medieval Institute Library">
      About the Library</a>
      <ul>
        <li>
          <a href="http://www.library.nd.edu/about/maps/seventh.shtml">
          Map</a>
        </li>
        <li>
          <a href="/about/collections.shtml">Collections</a>
        </li>
        <li>
          <a href="/about/staff.shtml">Staff</a>
        </li>
        <li>
          <a href="http://www.library.nd.edu/about/myaccount.shtml">
          My Library accounts</a>
        </li>
        <li>
          <a href="/about/user_guidelines.html">User guidelines</a>
        </li>
        <li class="last">
          <a href="/about/">more...</a>
        </li>
      </ul>
    </li>
    <li class="darker">
      <a href="/ask/"
      title="Options for getting help from a librarian"
      class="icon-person">Ask a Librarian</a>
      <ul>
        <li>
          <a href="#">Contact us by phone: (574) 631-5724</a>
        </li>
        <li>
          <a href="mailto:medvllib@nd.edu">Email your question</a>
        </li>
        <li>
          <a href="#">Our address:
          <br />7th floor, Hesburgh Library
          <br />Notre Dame, IN 46556</a>
        </li>
        <li>
          <a href="http://www.library.nd.edu/about/maps/locations.shtml">
          Map</a>
        </li>
        <li class="last">
          <a href="/ask/">more...</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
<!-- End main-menu -->
