<h2>About Searching</h2>
<p>
The bibliographic descriptions available on this site can be browsed via the general search box, above, or faceted values lists found at left. Entering a query in the search box seeks a match across all fields of bibliographic data. 
</p>
<p>
The faceted values have been set up with the following principles: 
</p>
<ul>
  <li><strong>Format</strong> sorts sources by physical format. There are two formats: microfilms and facsimiles.</li>
  <li><strong>Library</strong> sorts sources by the library which holds the original work. Available for microfilms and facsimiles.</li>
  <li><strong>City</strong> sorts sources by the city containing the library which holds the original work. Available for microfilms and facsimiles.</li>
  <li><strong>Collection</strong> sorts microfilms by the collection in which they are a member.</li>
  <li><strong>Language</strong> sorts sources by the languages present in the work. Available for facsimiles.</li>
  <li><strong>Date Range</strong> sorts sources by approximate date of original publication. Available for facsimiles.</li>
  <li><strong>Illuminations</strong>, <strong>Musical Notation</strong>, and <strong>Commentary Volume</strong> sorts sources by the presence of certain characteristics. Available for facsimiles.</li>
</ul>
<p>
If you have narrowed down a results list via faceted values but would like to drop one or more of these restrictions from your results set, click the (x) symbol next to it at the top of the page to remove search limiters. You can also initiate a new search at any time via the blue "start over" button found at the top of the results set. 
</p>
